{% extends "page.html" %}


{% block global_bundles %}
  {{ super() }}
  {% bundles "jsonschema.js", "jsonschema.css" %}
{% endblock %}

{% block title %}
    <h2>{{ _('JSON Schemas') }}</h2>
    <p>{{ _('The following JSON schemas are registered at our system:') }}</p>
{% endblock %}

{% macro treepart(part, n) %}
    {% if '.' in part %}
        {% for element in part['.'] %}
            <a id="link-{{ element['link'] }}" class="list-group-item jsonschema-link" href="#{{ element['link'] }}">{{ element['name'] }}</a>
        {% endfor %}
    {% endif %}
    {% for name, sub in part.iteritems() %}
        {% if name != '.' %}
            <div class="list-group-item">
                <h{{ n + 3 }}>{{ name }}</h{{ n + 3 }}>
                <div class="list-group">
                    {{ treepart(sub) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <div class="list-group">
            {{ treepart(tree, 0) }}
            </div>
        </div>
        <div class="col-md-7">
            <div id="jsonschema-detailed">
                <div class="alert alert-info">{{ _('Click on one of the schemas to get a detailed view.') }}</div>
            </div>
        </div>
    </div>
{% endblock %}
